@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.App {
    background-color: rgb(27, 27, 27);
    font-family: 'Helvetica Neue', sans-serif !important;
    color: white;
                                                
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgb(255, 174, 0);
    padding: 1rem;

    &.nav-cont {
        margin: 0 !important;
    }
}

.nav-btn {
    align-items: center;
    background-color: transparent;
    color: rgb(255, 174, 0);
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0 !important;
    padding: 1rem;
  
    &::before {
      background-color: rgb(255, 174, 0);
      content: "";
      display: inline-block;
      height: 1px;
      margin-right: 10px;
      transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
      width: 0;
    }
  
    &:hover::before {
      background-color: rgb(255, 174, 0);
      width: 3rem;
    }
  }
  