.main-top-ctr {
  margin-top:5%;
  background-color: #262626;
  border-radius: 20px !important;
  padding: 2%;
}

.carousel-ctr {
  border-radius: 20px !important;
}

.carousel-img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px !important;
  filter: brightness(
    40%
  ); // Adjust the percentage to control the darkness level
}

.carousel-capt {
  text-align: left !important;
  margin-bottom: 10%;
}
.carousel-img2 {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px !important;
  filter: brightness(
    40%
  ); // Adjust the percentage to control the darkness level
}

.carousel-capt2 {
  text-align: left !important;
  margin-bottom: 10%;
}

h1 {
  font-size: 1rem !important;
}

.crs-btn {
  background: rgba(255, 255, 255, 0.744);
  border: 2px solid #ffffff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  width: 45%;
  height: auto;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(25deg);
  position: relative; // Tambahin ini biar pseudo-element ::before bisa di posisikan relatif ke button
  color: #000; // Tambahkan warna teks

  .crs-btn-text {
    font-size: 15px;
    display: inline-block;
    transform: skew(-25deg);
    color: #000 !important; // Tambahkan warna teks di sini juga
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover {
    color: #fff !important;

    &::before {
      left: 0;
      right: 0;
      opacity: 1;
    }

    .crs-btn-text {
      color: #fff !important; // Ubah warna teks saat hover
    }
  }
}

.crs-btn-text {
  font-style: normal !important;
}



// Media query buat nampilin mobile carousel dan hide desktop carousel di layar kecil
@media (max-width: 768px) {
  .desktop-crs {
    display: none !important;
  }

  .mobile-crs {
    display: block !important;
  }
}

.crs-game-list {
  align-items: center !important;
}

.card {
  background-color: #1e1e1e;
  color: white;
  border-radius: 20px;
}

.card-img {
  border-radius: 20px !important;
}
.button-unique {
  cursor: pointer;
  padding: 6px 15px;
  background-color: black;
  padding: 8px 25px;
  border: solid 2px gold;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.1s linear 0.1s;

  span {
    color: gold;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
    transition: 0.2s linear 0.1s;
  }

  &::after {
    display: block;
    content: "";
    background-color: gold;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-40%);
    transition: 0.2s linear 0.1s;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0px 0px 20px gold;

    &::after {
      top: -50%;
    }

    span {
      color: black;
      letter-spacing: 4px;
    }
  }
}


.badge {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thirdct {
  margin: 15px;
  padding:10px;
  border-radius: 20px;
  background-color: #1e1e1e;
}

.thirdimg {
  border-radius: 20px;
}

.button-end {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em 2em;
  border: none;
  background: #1e1e1e;
  width: 20%;
  height: auto;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 174, 0);
  transition: all 1000ms;
  font-size: 10px;
  position: relative;
  overflow: hidden;
  outline: 2px solid rgb(255, 174, 0);

  &:hover {
    color:#1e1e1e;
    transform: scale(1.1);
    outline: 2px solid rgb(255, 174, 0);
    box-shadow: 4px 5px 17px -4px rgb(255, 174, 0);
  }

  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 174, 0);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  &:hover::before {
    width: 250%;
  }
}
